.f-video {
    position: relative;
    width: 640px;
}
.f-video-controls {
    position: absolute;
    width: 98%;
    left: 1%;
    height: 30px;
    bottom: 8px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
}
.switch-icon svg {
    display: none;
}
.switch-icon.icon-1 svg:nth-child(1) {
    display: inline-block;
}
.switch-icon.icon-2 svg:nth-child(2) {
    display: inline-block;
}
.f-component {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 7px;
    margin: 0 5px;
}
.f-progress {
    height: 8px;
    width: 60%;
    background: #000;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.4);   
}
.f-progress-move {
    width: 8px;
    height: 6px;
    background: #fff;
    border: solid 1px #eee;
    position: relative;
    border-radius: 3px;
}
.f-volume {
    height: 8px;
    width: 10%;
    background: #000;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.4);   
}
.f-volume-move {
    width: 8px;
    height: 6px;
    background: #fff;
    border: solid 1px #eee;
    position: relative;
    border-radius: 3px;
}
.f-display-time {
    color: white;
    font-size: 12px;
}
.f-like-fullscreen .f-cover {
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
}
.f-video video {
    width: 100%;
    height: 100%;
}
.f-like-fullscreen .f-video {
    position: fixed;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    webkit-transform: translate3d(-50%, -50%, 0);
}
